@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    font-family: 'Amatic SC', cursive;
    background-color: #f5f5dc;
    color: black;
    font-size: 3rem;
}

.title {
    font-size: 4rem;
}

.between {
  display: inline;
  float: right;
}

.again {
  top: 2rem;
}

.guess {
    text-align: center;
    background-color: #f5f5dc;
    border-width: 0.5rem;
    border-color: #eee;
}

.number {
    background: #eee;
    color: #333;
    font-size: 6rem;
    width: 10rem;
    height: 10rem;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 10%);
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  padding: 1rem;
  cursor: pointer;
  font-size: 3rem;
  text-align: center;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 3rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

.again-post-game {
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
}
    @-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
}
    @-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
}
    @keyframes bounce {
    to { transform: scale(1.2); }
}